<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Algorithmi"

    </title>
</head>
<style>
    h5.center {
      text-align: center;
      color: red;
    }
    button.center {
      text-align: center;
      color: burlywood;
    }
    h5.large {
      font-size: 300%;
    }
</style>
<body>
  <h4>image here</h4>
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </p>
    {% if filename %}
      <div>
        
        <img src="{{ url_for('display_image', filename=filename) }}"/>
      </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
    
    <dl>
        <p>
          <input type="file" name="file" autocomplete="off" required>
        </p>
        </dl>
        <p>
        <input type="submit" value="Submit">
      
    
    </p>
    </form>
    
    
    
    <div><h4>Audio here</h4>
      <form method="post" action="/" enctype="multipart/form-data">
    
        <dl>
            <p>
              <input type="file" name="fileAudio" autocomplete="off" required>
            </p>
            </dl>
            <p>
            <input type="button" value="Submit">
          
        
        </p>
        </form>
      <form method="post" enctype="multipart/form-data">
        <label ><h4>type here:</h4></label><br>
        <input type="text" name="fileTxt"><br>
        <input type="button" value="Submit">
        
        
      </form> 
    </div>
    <div><h4 >video here</h4>
      <form method="post" enctype="multipart/form-data">
        
        <input type="file" id="text" name="fileAudio"><br>
        <input type="button" value="Submit">
        
      </form> 
    </div>
    <div><h5 >Video steaming here</h5>
      <iframe src="  https://www.youtube.com/embed/Lu56xVlZ40M" width="853" height="480" frameborder="0" allowfullscreen></iframe>
    
    </div>
    
</body>
</html>